<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.5/phpunit.xsd"
        bootstrap="../tests/unit-tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="UnitTest">
            <directory suffix="test.php">../tests</directory>
        </testsuite>
    </testsuites>
</phpunit>